[Desktop Entry]
Name=My gsettings
GenericName=Initialize my gsettings
Exec=/home/vagrant/gsettings.sh
Terminal=true
Type=Application
X-GNOME-Autostart-enabled=true
